<app-hearder (loadPage)="showPage($event)"></app-hearder>
<div class="row">
  <!-- <button type="button" class="btn btn-success" (click)="updateGlobalObj()"> App button</button> -->
  <!-- <div class="redcolor" appBasicAttribute *appUnless="showUnless" [defaultColor] = "'transparent'" [customColor]="'red'">
    This is an app component
  </div>
  <div>
    <div class="btn btn-success" (click)="toggleUnless()">Unless</div>
  </div> -->

  <!-- <div class="col col-lg-12">
    <app-recipes *ngIf="loadedPage == 'recipe'"></app-recipes>
    <app-shopping-list (eventItem)="outFunc($event)" *ngIf="loadedPage != 'recipe'" [globalObj]="appObj">
      <p>This is a sopping list ng-content</p>
    </app-shopping-list>
  </div> -->

  <div class="col col-xs-12">
    <router-outlet></router-outlet>
  </div>
</div>